*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txtcenter{
    text-align: center;
}
.txtunderline{
    text-decoration: underline;
}
body
{font-family: 'Poppins', sans-serif;}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 100px;
}
nav
{
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    font-weight: 600;
}
a{
    text-decoration: none;
    color: #555;
    
}
p{
    color: #555;
}
.container{
    max-width:100%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;  
}
.small-container{
    margin: 20px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis:50% ;
    min-width: 300px;
}
.col-2 img{
   max-width: 100%;
   padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn
{
    display: inline-block;
    background: #ff9d01;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover
{
    background-color: #ff2b01;
}
.header
{
    background: radial-gradient(rgb(2, 219, 56),rgb(202, 216, 7));
}

.header .row
{
margin-top:70PX ;
}

.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.imgcontainer4{
    aspect-ratio: 1/1;
}
.col-4 img{
    width:100%;
    height:auto;
}

.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    line-height: 60px;
    color: #555;

}
.title::after
{
    content: '';
    background: #ff9d01;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color:#555;
    font-weight: normal;
}

.col-4 p
{font-size:14px;}

.col-4:hover
{
    transform: translateY(-5px);
}
.col-3
{
    flex-basis: 28%;
    min-width: 200px;
}
.col-3 p{
    
   
    overflow-wrap: break-word;
}
.testimonial
{
padding-top: 100px;
padding-bottom: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img{
   width: 50px;
   margin-top: 20px;
   border-radius: 50%; 
}
.testimonial .col-3:hover
{
    transform: translateY(-5px);
}
.q
{
    font-size: xx-large;
    font-weight: bolder;
    color: #ff9d01;
}
.footer
{background: black;
color: #8a8a8a;
font-size: 14px;
padding: 60px 0 20px;
}
.footer p
{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-3, .footer-col-2,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2
{
    flex: 1;
    text-align: center;
}
.footer-col-2 img
{padding-bottom: 20px;}
.footer-col-3, .footer-col-4{
    flex-basis:20% ;
    text-align: center;
}
.footer-col-3 ul, .footer-col-4 ul
{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #ff2b01;
    height: 1px;
    margin: 20px;
}
.copyright
{
    text-align: center;
}

.menu-icon{
    margin-left: 20px;
    display: none;
}

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.accountd
{
    margin: 30px;
    text-align: left;
}
.row-a
{
    margin: 100px;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.small-12
{
    width: 80%;
}
select
{
    border: 1px solid #ff522b;
    padding: 5px;
}
select:focus
{
    outline: none;
}

/*account*/
/*account page*/
.accountgradiant{
    background: radial-gradient(rgba(0, 252, 63, 0.422),rgba(202, 216, 7, 0.389));
}

.account-page{
    padding:50px 0;

}
.form-container{
    background:#e3dbdb;
    width: 300px;
    height: 400px;

    position: relative;
    text-align: center;
    padding: 20px 0;
    margin:auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;

}
.small-8
{
    margin-top: 10px;
    width: 95%;


}
.form-containerr form
{
    width: 100%;
}
.form-containerr{
    background:#e3dbdb;
    align-items: center;
    
    width: 400px;
    height: 800px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin:auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;

}
.form-containerrr{
    background:#e3dbdb;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin:auto;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
    overflow:hidden;

}
.form-containerrr form{
    max-width: 300px;
    padding: 0 20px;
    position:absolute;
    top:100px;
    transition: transform 1s;
}
.form-container span{
    font-weight:bold;
    padding: 0 10px;
    color:#130f40;
    cursor:pointer;
    width:100px;
    display:inline-block;

}
.form-btn{
    display:inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position:absolute;
    top:130px;
    transition: transform 1s;
}
form input{
    width:100%;
    height:30px;
    margin:10px 0;
    padding: 0 10px;
    border: 1px solid #666;
}
form.btn{
    width:100%;
    border:none;
    cursor:pointer;
    margin:10px 0;
}
form.btn:focus{
    outline:none;
}
#LoginForm{
    left:-300px;

}
#RegistrationForm{
    left:0;
}
form a{
    font-size:12px;
}
#Indicator{
    width: 100px;
    border:none;
    background: #ff7800;
    height:3px;
    margin-top: 8px;
    transform:translateX(100px);
    transition: transform 1s;
}

/*---Cart items details--*/
.cart-page{
    margin:80px 30px;
}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-info{
    display:flex;
    flex-wrap: wrap;

}

th{
    text-align:left;
    padding: 10px;
    color:#fff;
    background:#ff7800;
    font-weight:normal;

}
td{
    padding:10px 5px;
  
}
td input{
    width: 80%;
    height:30px;
    padding: 5px;
}
.tbl-80
{width: 80%;}
td a{
    color:#ff7800;
    font-size:15px;

}
td img{
    width :150px;
    height:150px;
    margin-right:10px;
}
.total-price{
    display:flex;
    justify-content:flex-end;

}
.total-price table{
    border-top:3px solid #ff7800;
    width:100%;
    max-width:650px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/*product Details*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.about
{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}



/*   media quary  */

@media only screen and (max-width: 800px)
{
  nav ul  
  {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #ffffff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/* media quary*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
}

